version: '3'
services:
  mirea-teacher-schedule-bot:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./bot/db/data:/app/bot/db/data